@import "tailwindcss";

@theme {
    --font-*: initial;
    --font-sans: Goga, "sans-serif";
}

@font-face {
    font-family: Goga;
    src: local('Goga'),
    url("assets/fonts/Goga-Regular.otf") format("opentype");
}
